<div class="flex flex-row justify-content-between flex-wrap bg-gray-300 px-1">
    <div class="left-footer">
      <label
        class="flex justify-content-center align-contents-center text-xs lg:text-sm font-bold"
        >Developed by IT Department</label
      >
    </div>
    <div class="right-footer">
      <label
        class="flex justify-content-center align-contents-center text-xs lg:text-sm font-bold"
        >Copyright IT Department. All rights reserved</label
      >
    </div>
  </div>
  