<div class="grid m-0 h-full">
  <aside class="left-container col-fixed p-0 m-0 z-5 h-full ">
    <app-sidebar  (flagSignal)="(flagSignalselection($event))"></app-sidebar>
  </aside>
  <div #rgtcont class="right-container col-8 flex-grow-1 p-0 m-0 h-full">
    <div class="flex flex-column h-full">
      <header class="">
        <app-header></app-header>
      </header>
      <nav class="ml-3 mt-3">
        
      </nav>
      <main class="flex-1 p-4 mb-3 h-full overflow-y-auto">
        <div class="layout-content min-h-full">
          <app-content></app-content>
        </div>
        <p-scrollTop
          target="parent"
          [behavior]="'smooth'"
          [threshold]="1000"
          icon="pi pi-arrow-up"
          class="scrollTop absolute"
        ></p-scrollTop>
      </main>
      <footer class="">
        <app-footer></app-footer>
      </footer>
    
    </div>

  </div>
  <p-blockUI [blocked]="blockdatas"  >    
  </p-blockUI>
</div>


